#galaxyBox {
    background: url("../../assets/gifs/galaxy.gif");
    margin: 0px 10px 8px 10px;
    padding: 10px 10px 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.planetBox {
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.planetBoxInternal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.planetGIF {
    width: 100px;
    height: 100px;
}

.exploreItemTitle {
    text-decoration: underline;
    margin-bottom: 5px;
}
